

  body{
    
    font-family: monotype corsiva, Georgia;
    background-color: azure;
    font-size: 140%;
}
.jumbotron {
    background-color: rgb(190, 252, 233);
  
}


h1 {
    color: rgb(36, 45, 179);
    }
    .carousel-inner img {
      width: 100%;
      height: 100%;
  }
header{
  font-size: 25px;;
}
p{
  font-size: 22px;

}
.card-subtitle{
  font-size: 22px;
}
.card-link{
  font-size: 22px;
}
.navbar-brand {
  font-size: 25px;
}

#userBox {
  background: rgb(190, 252, 233);
  display: block;
  width: 100%;
  flex-grow: 2;
}