

  body{
    
    font-family: Georgia;
    background-color: azure;
}
.jumbotron {
    background-color: rgb(190, 252, 233);
  
}


h1 {
    color: rgb(36, 45, 179);
    }
    .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  #resposta {
    display: none;
  }

   /* Make the image fully responsive */
   .carousel-inner img {
    width: 100%;
    height: 100%;
  }

.userPhoto {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: .5rem;
  border-radius: 50%;
}

#logout {
  display: none;
}

   